body{
	font-family: 'Special Elite', cursive;
}
/*
=================================
STYLING FOR HEADER
=================================
*/
header{
	background-color: blue;
	color: white; 
}
.btn{

}
/*
=================================
STYLING FOR HEADER
=================================
*/
ul{
	list-style: none;
	font-size: 30px;
	text-transform: uppercase;
}
ul li{
	font-size: 20px;
}

/*
=================================
STYLING FOR HEADER
=================================
*/
input{
	border: none;
}
